
body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: none;
    touch-action: none;
}
/**********************************************
************* DEMO POINTER DIV ****************
***********************************************/

.pointerDIV{
    position: absolute;
    width: 100px;
    height: 100px;
    left:-500px;
    top:-500px;
    border-radius: 50%;
    border-width: 10px;
    border-style: solid;
    border-color: #FFBA25;
    background-color: rgba(255,186,0,0.2);
    pointer-events: none;
    z-index: 9;
    
}

/*for Opera :*/
x:-o-prefocus, .pointerDIV {
    display: none;
}


/**********************************************
***************** PANNEAUX ********************
***********************************************/

.verticalPanel{
    position: absolute;
    /*background-color: rgba(0,0,0,0)*/
    /*    border-radius: 10px;
        background: -ms-linear-gradient(top, #9c9ba6, #57575f);
        background: -o-linear-gradient(top, #9c9ba6, #57575f);
        background: -moz-linear-gradient(top, #9c9ba6, #57575f);
        background: -webkit-linear-gradient(top, #9c9ba6, #57575f);*/
    /*pointer-events:none;*/
}

.horizontalPanel{
    position: absolute;
    border-radius: 10px;
    background: -ms-linear-gradient(top, #9c9ba6, #57575f);
    background: -o-linear-gradient(top, #9c9ba6, #57575f);
    background: -moz-linear-gradient(top, #9c9ba6, #57575f);
    background: -webkit-linear-gradient(top, #9c9ba6, #57575f);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.centerPanel{
    position: absolute;
    border-radius: 10px;
    background-color: rgba(230,230,230,0.9);
    border: 1px solid #b4b4b4;
    /*    background: -ms-linear-gradient(top, #9c9ba6, #57575f);
        background: -o-linear-gradient(top, #9c9ba6, #57575f);
        background: -moz-linear-gradient(top, #9c9ba6, #57575f);
        background: -webkit-linear-gradient(top, #9c9ba6, #57575f);*/

}

.mainCalcPanel{
    position: absolute;
    border-radius: 0px;
    background-color: rgba(230,230,230,0.9);
    border-bottom: 1px solid #b4b4b4;
    /*    background: -ms-linear-gradient(top, #57575f, #57575f);
        background: -o-linear-gradient(top, #57575f, #57575f);
        background: -moz-linear-gradient(top, #57575f, #57575f);
        background: -webkit-linear-gradient(top, #57575f, #57575f);*/

}

.digitCalcPanel{
    position: absolute;
    border-radius: 0px;
    background-color: rgba(230,230,230,0.9);
    border-top: 1px solid #b4b4b4;
    border-bottom: 1px solid #b4b4b4;
    /*pointer-events:none;*/
    /*border-radius: 10px;*/
    /*pointer-events:none;*/
    /*    background: -o-linear-gradient(top, #57575f, #57575f);
        background: -moz-linear-gradient(top, #57575f, #57575f);
        background: -webkit-linear-gradient(top, #57575f, #57575f);*/
}

.progressPanel{
    position: absolute;
    border-radius: 5px;
    /*    background: -o-linear-gradient(top, #9c9ba6, #57575f);
        background: -moz-linear-gradient(top, #9c9ba6, #57575f);
        background: -webkit-linear-gradient(top, #9c9ba6, #57575f);*/
}

.progressBar{
    position: absolute;
    border-radius: 0px;
    overflow: hidden;
    /*background-color:whitesmoke;*/
}

.moveprogressBar{
    position: absolute;
    border-radius: 0px;
    background-color:#6699ff;
}

.TeXDisplay{
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
    text-shadow:1px 1px 5px #777;
    text-align: center;
    white-space: pre-wrap;
    margin: 0px;
}


.textPanel{
    position: absolute;
    border-radius: 10px 10px 10px 10px;
    /*    background-color: rgba(100,100,100,0.3);
        border-color: rgba(100,100,100,0.5);*/
    border-style: solid;
    border-width: 3px;
    /*font-size: 16px;*/
    /*font-family: Helvetica, Arial, sans-serif;*/
    /*text-shadow:1px 1px 5px #777;*/
    text-align: center;
    /*pointer-events:  auto;*/
    /*margin: 100px;*/
}

.viewportListPanel{
    -webkit-transition:-webkit-transform 0.2s linear;
    -moz-transition:-moz-transform 0.2s linear;
    -o-transition:-o-transform 0.2s linear;
    -webkit-transform:translateX(0px);
    -webkit-overflow-scrolling:touch;
    background-color: #AAAAAA;
    width:100%;
    height: 100%;
    overflow: scroll;
    overflow-x:hidden;
}

.viewportListUL {
    width:100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.viewportListLI {
    /*position: relative;*/
    padding: 10px;
    background: #eee;
    color: #252525;
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
    text-shadow:1px 1px 5px #777;
    z-index: 2;
}

.viewportListLI:nth-child(odd) {
    background: #fff;
}


/**********************************************
************ SAISIE EXPRESSIONS ***************
***********************************************/

/*.expNameDIV {
    position: inherit;
    left:10px;
    right: 10px;
    background-color: whitesmoke;
    top:10px;
    bottom: 10px;
    height: 25px;
    overflow: hidden;
    border-radius: 12px;
}

.expNameINPUT {
    position: absolute;
    background-color: red;
    top:0px;
    bottom: 0px;
    left: 10px;
    right:10px;
    width: 138px;
    height: 25px;
    border: 0px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    text-align: left;
    vertical-align: middle;
    outline-width: 0px;
    border-radius: 0px;
    padding: 0px;
}*/


/**********************************************
****************** ERASER *********************
***********************************************/

.erase_messageDIV {
    left: -moz-calc(50% - 125px);
    left: -webkit-calc(50% - 125px);
    left: -o-calc(50% - 125px);
    left: calc(50% - 125px);
    top: 20px;
    width:250px;
    height:35px;
    border-radius: 10px;
    background-color:rgba(230,230,230,0.9);
    cursor: pointer;
    text-decoration: none;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    -o-border-radius: .5em;
    border-radius: .5em;
    /*    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
        -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
        -o-box-shadow: 0 1px 2px rgba(0,0,0,.2);
        box-shadow: 0 1px 2px rgba(0,0,0,.2);*/
    color: #252525;
    border: 1px solid #b4b4b4;
    /*background: #333;*/
    /*    background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#000));
        background: -moz-linear-gradient(top,  #666,  #000);
        background: -o-linear-gradient(top,  #666,  #000);*/
}


.props_TeX_DIV {
    left: 10px;
    top: 10px;
    width:220px;
    height:460px;
    border-radius: 10px;
    background-color: rgba(230,230,230,0.9);
    border: 1px solid #b4b4b4;
}


/**********************************************
**************** PROPRIETES *******************
***********************************************/

.props_messageDIV {
    left: 10px;
    top: 10px;
    width:220px;
    height:405px;
    border-radius: 10px;
    background-color: rgba(230,230,230,0.9);
    border: 1px solid #b4b4b4;
}

.props_gridDIV {
    left: 10px;
    top: 10px;
    width:220px;
    height:490px;
    border-radius: 10px;
    background-color: rgba(230,230,230,0.9);
    border: 1px solid #b4b4b4;
    /*overflow: hidden;*/
}

.props_gridDIV_Mobile {
    left: 10px;
    top: 10px;
    width:220px;
    height:360px;
    border-radius: 10px;
    background-color: rgba(230,230,230,0.9);
    border: 1px solid #b4b4b4;
    /*overflow: hidden;*/
}

.props_nameDIV {
    left: 10px;
    top: 10px;
    width:220px;
    height:42px;
    border-radius: 10px;
    background-color: rgba(230,230,230,0.9);
    border: 1px solid #b4b4b4;
    /*overflow: hidden;*/
}


.props_colorDIV {
    position: absolute;
    left: 10px;
    top: 60px;
    width:220px;
    height:540px;
    border-radius: 10px;
    background-color: rgba(230,230,230,0.9);
    /*background-color: #E6E6E6;*/
    /*opacity: 0.95;*/
    border: 1px solid #b4b4b4;
    /*background-color: #252525;*/
    /*overflow: hidden;*/
}

.props_colorDIV_Mobile {
    position: absolute;
    left: 10px;
    top: 60px;
    width:220px;
    height:350px;
    border-radius: 10px;
    background-color: rgba(230,230,230,0.9);
    border: 1px solid #b4b4b4;
    /*overflow: hidden;*/
}


/**********************************************
***************** MAGNETISME ******************
***********************************************/


.magnetDIV {
    left: 100px;
    top: 100px;
    width:300px;
    height:40px;
    border-radius: 10px;
    background-color: #252525;
    box-shadow: 5px 5px 5px 0px rgba( 150, 150, 150, .4 );
}

.magnetDIV::before {
    background-color: #252525;
    content: "\00a0";
    display: block;
    height: 35px;
    position: absolute;
    top: -8px;
    left:135px;
    transform:         rotate( 45deg );
    -moz-transform:    rotate( 45deg );
    -ms-transform:     rotate( 45deg );
    -o-transform:      rotate( 45deg );
    -webkit-transform: rotate( 45deg );
    width:  35px;
}

.bulleM {
    float: left;   
    margin: 5px 45px 5px 20px;         
}


/**********************************************
*************** COINCIDENCES ******************
***********************************************/

.coincidencePanel{
    position: absolute;
    border-radius: 10px;

}

.coincidenceListDIV {
    left: 10px;
    top: 10px;
    width:250px;
    height:170px;
    border-radius: 10px;
    background-color: #252525;
    box-shadow: 5px 5px 5px 0px rgba( 150, 150, 150, .4 );
}

.coincidenceListDIV::before {
    background-color: #252525;
    content: "\00a0";
    display: block;
    height: 35px;
    position: absolute;
    top: 15px;
    left:-5px;
    transform:         rotate( 45deg );
    -moz-transform:    rotate( 45deg );
    -ms-transform:     rotate( 45deg );
    -o-transform:      rotate( 45deg );
    -webkit-transform: rotate( 45deg );
    width:  35px;
}

.bulle {
    float: left;   
    margin: 5px 45px 5px 20px;         
}

.coincidenceListViewportMask {
    position: absolute;
    left:10px;
    top:50px;
    width:230px;
    height:105px;
    background-color: #252525;
    border-color: #252525;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    overflow: hidden;
}

.coincidenceListViewport {
    position: absolute;
    background-color: #FFF;
    left:-1px;
    top:0px;
    width:280px;
    height: 105px;
    margin: 0px;
    padding: 0px;
    border-color: #252525;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    overflow-style: scrollbar;
}

.coincidenceListViewport p{
    font-family: Helvetica, Arial, sans-serif;
    background: #eee;
    color: #252525;
    padding: 10px;
    margin: 0px;
    text-align: left;
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    text-shadow:1px 1px 5px #777;
}

.coincidenceListViewport p:nth-child(odd) {
    background: #fff;
}



/**********************************************
**************LISTES DE MACROS ****************
***********************************************/




.iPadListMasterDIV{
    position: absolute;
    border-radius: 10px;
    background-color: rgba(230,230,230,0.9);
    border: 1px solid #b4b4b4;
    overflow: hidden;
}

.iPadListContentDIV{
    position: absolute;
    border-radius: 0px;
    left: 0px;
    top:30px;
    width: 100%;
    bottom: 30px;
    -webkit-transition:-webkit-transform 0.2s linear;
    -moz-transition:-moz-transform 0.2s linear;
    -o-transition:-o-transform 0.2s linear;
    transform:translateX(0%);
    -webkit-transform:translateX(0%);
    -moz-transform:translateX(0%);
    -o-transform:translateX(0%);
    -webkit-overflow-scrolling:touch;
    background-color: #AAAAAA;
    overflow: scroll;
    overflow-x:hidden;
}

.iPadListUL {
    position: absolute;
    width:100%;
    margin: 0;
    padding: 0;
    list-style: none;
    -webkit-transition:-webkit-transform 0.2s linear;
    -moz-transition:-moz-transform 0.2s linear;
    -o-transition:-o-transform 0.2s linear;
    transform: translateX(100%);
    -webkit-transform:translateX(100%);
    -moz-transform:translateX(100%);
    -o-transform:translateX(100%);
}

.iPadListLI {
    position: relative;
    padding: 8px;
    background: #ddd;
    color: #252525;
    font-size: 15px;
    font-family: Helvetica, Arial, sans-serif;
    /*text-shadow:1px 1px 5px #777;*/
    z-index: 2;
    /*display: list-item;*/
}

.iPadListLI:nth-child(odd) {
    background: #fff;
}

.iPadBtnBack {
    display: inline-block;
    position: absolute;
    z-index: 1;
    padding: 0 10px 0 30px;
    left: 0px;
    /*top: 2px;*/
    bottom: 5px;

    line-height: 20px;
    text-shadow: 0 -1px #4d4d4d;
    /*color: #E5E5E5;*/
    color:#EEEEEE;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 15px;
}
.iPadBtnBack:before {
    content: '';

    position: absolute;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    left: 20px;
    right: 0;
    height: 20px;
    margin-top: 0px;
    z-index: -1;

    /*border: 1px solid #808080;*/
    border-bottom-color: #808080;
    border-top-color: #4d4d4d;
    border-left-width: 0;
    border-radius: 5px;

    background: #808080;
    /*    background-image: -webkit-linear-gradient(top, #b3b3b3, #4d4d4d);
        background-image: -moz-linear-gradient(top, #b3b3b3, #4d4d4d);
        background-image: -ms-linear-gradient(top, #b3b3b3, #4d4d4d);
        background-image: -o-linear-gradient(top, #b3b3b3, #4d4d4d);
        background-image: linear-gradient(top, #b3b3b3, #4d4d4d);*/

}

.iPadBtnBack:after {
    content: '';
    position: absolute;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    left: 15px;
    height: 17px;
    width: 17px;
    top: 1px;
    z-index: -2;

    /*border: 1px solid #FFF;*/
    border-top: 0 transparent;
    border-right: 0 transparent;
    border-bottom-color: #808080;
    border-left-color: #4d4d4d;
    border-radius: 7px 5px 5px 1px;

    background: #808080;
    /*    background-image: -webkit-linear-gradient(135deg, #b3b3b3, #4d4d4d);
        background-image: -moz-linear-gradient(135deg, #b3b3b3, #4d4d4d);
        background-image: -ms-linear-gradient(135deg, #b3b3b3, #4d4d4d);
        background-image: -o-linear-gradient(135deg, #b3b3b3, #4d4d4d);
        background-image: linear-gradient(135deg, #b3b3b3, #4d4d4d);*/

    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.iPadArrowRight {
    width: 0; 
    height: 0; 
    float: right;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 10px solid #4d4d4d;
}


/**********************************************
****************** MACROS *********************
***********************************************/

.macroViewportPanel {
    width: 100%;
    top: 20px;
    bottom: 20px;
    background-color: #FAAAAA;
}

.pluginsListDIV {
    left: 10px;
    top: 10px;
    width:180px;
    height:190px;
    border-radius: 10px;
    background-color: rgba(230,230,230,0.9);
    overflow: hidden;
}

.toolsListDIV {
    left: 10px;
    top: 210px;
    width:180px;
    height:190px;
    border-radius: 10px;
    background-color: rgba(230,230,230,0.9);
    overflow: hidden;
}

.macroPropsDIV {
    left: 10px;
    /*top: 490px;*/
    width:180px;
    height:139px;
    bottom:0px;
    border-radius: 10px;
    background-color: rgba(230,230,230,0.9);
    border: 1px solid #b4b4b4;
    overflow: hidden;

}



/*Chaque élément du panneau d'édition de macros :*/
.macroLabelDiv {
    background-color: whitesmoke;
    padding: 5px;
    border-color: #ddd;
    /*border-width:1px 1px 1px 1px;*/ 
    /*border-style:solid;*/
    /*width:100px;*/
    /*width: 800px;*/
    /*display: inline-table;*/
    /*display: list-item;*/
    /*display: table-cell;*/
}

.macroLabelDiv:nth-child(odd) {
    background: #fff;
}


.macroLabelImage {
    position: inherit;
    width: 25px;
    height:25px;
    vertical-align: middle;
}

.macroLabelSpan {
    margin-left: 10px;  
    width: 100%;
    font-family: Helvetica, Arial, sans-serif;
    text-shadow:1px 1px 5px #777;
    font-size: 16px;
}

.macroExecInput {
    /*position: relative;*/
    /*padding: 0px;*/
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    width: 160px;
    height: 100px;
    overflow: hidden;
    /*overflow-x:  scroll;*/
    /*left: 50px;*/
    /*margin-left: 0px;*/
    /*right: 20px;*/

}

.macroAddImage{
    position: absolute;
    width: 25px;
    /*top:0px;*/
    top: 118px;
    right: 5px;
}

/*Nom de la macro :*/
.macroPropsNameDIV {
    position: inherit;
    left:10px;
    right: 10px;
    background-color: whitesmoke;
    top:10px;
    height: 25px;
    /*overflow: hidden;*/
    border-radius: 12px;
}

.macroPropsNameINPUT {
    position: absolute;
    background-color: whitesmoke;
    top:0px;
    left: 10px;
    width: 138px;
    height: 25px;
    border: 0px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    outline-width: 0px;
    border-radius: 0px;
    padding: 0px;
}


.macroPropsViewport {
    position: inherit;
    background-color: #AAAAAA;
    left:0px;
    top:45px;
    width:180px;
    bottom: 20px;
    -webkit-overflow-scrolling:touch;
    overflow: scroll;
    overflow-x:hidden;
}

.macroPropsInnerDIV {
    position: inherit;
    background-color: #CCCCCC;
    left:0px;
    top:0px;
    width:180px;
    bottom: 0px;
}



.macroListViewport {
    -webkit-transition:-webkit-transform 0.2s linear;
    -moz-transition:-moz-transform 0.2s linear;
    -o-transition:-o-transform 0.2s linear;
    -webkit-transform:translateX(0px);
    position: inherit;
    background-color: #252525;
    left:5px;
    top:30px;
    width:170px;
    bottom: 20px;
    -webkit-overflow-scrolling:touch;
    overflow: scroll;
    overflow-x:hidden;
}

.macroULclass {
    /*width:100%;*/
    /*left:50px;*/
    width:100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.macroLIclassComment {
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 30px;
    font-size: 16px;
    color: #700;
    font-family: Helvetica, Arial, sans-serif;
    text-shadow:1px 1px 5px #777;
    z-index: 2;
}

.macroLIclass {
    /*position: relative;*/
    padding: 10px;
    background: #eee;
    color: #252525;
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
    text-shadow:1px 1px 5px #777;
    z-index: 2;
}
.macroLIclass:nth-child(odd) {
    background: #fff;
}

.macroLIclassSel {
    /*position: relative;*/
    padding: 8px;
    background: #eee;
    color: #252525;
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:bold;
    text-shadow:2px 2px 5px #aaa;
    z-index: 2;
}
.macroLIclassSel:nth-child(odd) {
    background: #fff;
}